<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/pages/dashboard.css">
    <link rel="stylesheet" href="../css/pages/baseStyle.css">
    <title>Dashboard</title>
</head>
<body class="flex raisin-black-bg">
<%- include('partials/navs/nav-logout') -%>
<div class="container flex">
    <!-- <div class="parent-container flex raisin-black-bg hunter-green-border-radius drop-shadow" id="dashboard-container"> -->
        <div class="parent-container flex creme-bg border-radius drop-shadow" id="user-container">
        <h1 class="welcome">
        <!-- using EJS with the two symbols -->
        Welcome, <span id="userName"><%= userProfileName %></span>!
        </h1>
        <hr>
        <div class="parent-container flex flex-direction-row drop-shadow filter-none" id="partner-info-container">
            <button class="partner-info-button hunter-green-bg border-radius box-shadow">&lt;</button>
            <div class="parent-container flex flex-direction-row light-purple-bg border-radius drop-shadow" id="partner-info">
                <div class="partner-profile-picture flex flex-direction-row drop-shadow"><img id="partner-profile-picture-img" src="/images/user_icon.png" alt="">
                </div>
                <div class="partner-info-text dark-purple-bg border-radius">
                    <span class="partner-pronouns">
                        <%= userPronouns.subjective%>/<%= userPronouns.objective%>/<%= userPronouns.possessive%>
                    </span>
                    <hr id="purple-horizontal-line">
                    <div class="partner-status-container">
                        <div class="partner-status-text flex">
                            <span class="current-status">Offline</span>
                            <span class="status-message">"This is a status message!"</span>
                            <div class="partner-location-info flex">
                                <span class="partner-city partner-country partner-timezone">
                                    MI,USA (0:00AM)
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="notifications">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <button class="partner-info-button hunter-green-bg border-radius box-shadow">&gt;</button>
        </div>
        <hr>
        <div class="parent-container flex flex-direction-row creme-bg" id="actions-container-outer" >
            <button class="partner-info-button hunter-green-bg border-radius box-shadow">&lt;</button>
            <div class="parent-container flex hunter-green-bg hunter-green-border-radius drop-shadow" id="actions-container-inner">
            <%- include('partials/dashboard/send-hug') -%>
            <%- include('partials/dashboard/hold-hands') -%>
            <%- include('partials/dashboard/send-hug') -%>
            </div>  
            <button class="partner-info-button hunter-green-bg border-radius box-shadow">&gt;</button>
        </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<script src="/js/dashboard.js"></script>
</body>
</html>

<!-- <div class="parent-container hunter-green-border-radius filter-none" id="actions-container-outer">
    <div class="flex hunter-green-border-radius" id="actions-container">
        <div class="flex hunter-green-border-radius" id="actions-container-inner">
            <button class="partner-info-button">&lt;</button>
            <div class="actions-column flex">
                <div class="action-background creme-border-radius">
                    <div class="action-profile-picture-container"><img src="../images/user_icon.png"
                            class="action-profile-picture" alt=""></div>
                </div>
                <div class="action-background"></div>
                <div class="action-background"></div>
            </div>
            <button class="partner-info-button">&gt;</button>
        </div> -->